/*google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
google fonts uses
font-family: 'Noticia Text', serif;
*/


/*general styles config*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    color: black;
    font-family: 'Noticia Text', serif;
}

body {
    padding: 1rem;
    background-color: #f7f5e0;
}

img {
    width: 100%;
}


/*
    this web has a focus mobile first
    so I start with small mobile standards
*/

@media screen and (min-width:320px) {
    /*header section*/
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    /*headers section*/
    .headers {
        grid-column: 2;
        padding: 1rem;
    }
    .headers-card {
        padding: 1rem;
        border-bottom: .1rem solid black;
    }
    .headers-card h1 {
        font-size: 1rem;
    }
    .headers-card p {
        font-size: .8rem
    }
    .headers-card i {
        color: red;
    }
    /*main header*/
    .main-header {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        padding: 1rem;
    }
    /*main-header__title*/
    .main-header__title {
        grid-row: 1;
        text-align: center;
    }
    .main-header__title h1 {
        font-size: 3rem;
        border-bottom: .1rem solid black;
    }
    .main-header__info {
        padding: .5rem;
    }
    .main-header__info p {
        margin-top: .5rem;
    }
    /*In this project there are lot of borders around p elements, so I create this id to solve this problem */
    #main-header__underline1,
    #main-header__underline3 {
        border-bottom: .1rem solid black;
        margin-bottom: .5rem;
    }
    #main-header__underline2 {
        border-top: .1rem solid black;
    }
    /*main header date*/
    .main-header__date {
        padding: .5rem;
        margin-top: 2rem;
    }
    /*main section*/
    .main-section {
        display: grid;
        grid-template-rows: 2rem 1fr 1fr 1fr;
    }
    /*.main section header*/
    .main-section__header {
        font-size: .7rem;
        display: flex;
        justify-content: space-between;
        background-color: #edd3c2;
        height: 1rem;
        border-radius: .5rem;
        padding: 0 .5rem;
    }
    /*main section main news*/
    .main-section__main-news {
        padding: 1rem;
    }
    /*h1 mains news*/
    .main-section__main-news h1 {
        font-size: 1.5rem;
        text-align: center;
    }
    /*paragraph mains news*/
    .main-section__main-news p {
        font-size: 1rem;
        margin: 1rem 0;
    }
    /*img mains news*/
    .main-section__main-news figcaption {
        padding: .5rem;
        border-bottom: .1rem solid black;
    }
    /*main section main news info*/
    .main-section__main-news-info p {
        margin: 1rem;
    }
    /*Drop Caps on the Web Using Initial Letter*/
    #main-news-info__first-paragraph::first-letter {
        float: left;
        font-size: 4em;
        font-weight: bold;
        line-height: 0.65;
        margin: 0;
        padding: 0.05em 0.1em 0 0;
    }
    /*main section sub-news*/
    .main-section__sub-news {
        padding: 1rem;
    }
    /*sub news img*/
    /*sub news info header*/
    #sub-news-info__header {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
        border-radius: .5rem;
        background-color: #edd3c2;
        margin: 1rem 0;
    }
    /*sub mains info header*/
    .main-section__sub-news h1 {
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    .main-section__sub-news p {
        margin: 1rem 0;
    }
    #sub-news-info-both-p {
        padding: .1rem;
    }
}